.badge-container {
  color: white;
  margin-top: 20px;
  border-radius: 15px;
  overflow: hidden;
  background-color: #272635;
  box-shadow: 0 0 8px black;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.badge-container:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.badges-container {
  padding: 20px 10px 20px 10px;
}

.badges-container button {
  margin-bottom: 10px;
}

.badge-list-container {
  color: white;
}

.badges-new-container {
  padding: 20px;
}

.badge-header {
  background-color: red;
  height: auto;
  overflow: hidden;
}

.badge-header-fondo {
  width: auto;
}

.badge-body {
  padding: 20px;
}
